<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Front-end Developer</h1>
            <span><address>Trainline, London, UK</address><time>February 2016 to April 2016</time></span>
        </header>
		<ul>
			<li>Migrated from the legacy ASP.NET website to the new website using NodeJS and React</li>
			<li>Improved website monitoring, performance and security</li>
			<li>Improved team continuous delivery process</li>
		</ul>
    </article>
    <article>
        <header>
            <h1>Tech Lead</h1>
            <span><address>Trainline, London, UK</address><time>February 2015 to January 2016</time></span>
        </header>
		<ul>
			<li>Worked with the Architect to define software design principles</li>
			<li>Collaborated with the business to define priorities and next KPIs</li>
			<li>Moving from a monolithic database architecture to a Service Oriented and Event Driven Architecture</li>
			<li>Improved monitoring and support of our system in all the development lifecycle</li>
		</ul>
    </article>
    <article>
        <header>
            <h1>Agile Developer</h1>
            <span><address>Trainline, London, UK</address><time>July 2013 to January 2015</time></span>
        </header>
		</br>
        <p>Working in a enterprise distributed system (Asp.NET MVC, WCF, WebAPI, RabbitMQ...) that support the 
		 	high volume traffic thetrainline.com website, the API and other products.</p>
		<ul>
			<li>Design, development and maintenance of high availability system in a product aligned team</li>
			<li>Working in an Agile environment using Lean methodologies</li>
			<li>Working with BA and QA to improve code quality and add feature to the system</li>
			<li>Migrated from a 6 weeks release cycles to Continuous Delivery</li>
			<li>System migration from our datacenter to AWS</li>
		</ul>
    </article>
    <article>
        <header>
            <h1>Software Developer</h1>
            <span><address>Qwerty Informatica S.r.l., Milan, Italy</address><time>June 2012 to May 2013</time></span>
        </header>
		</br>
        <p>BKL – Income/outcome managing Web Application for train tickets sellers.</p>
		<ul>
			<li>Built using ASP.NET 4.0, C#, Entity Framework, SQL Server 2012</li>
			<li>Front-end (HTML, CSS, Javascript) and back-end development</li>
			<li>Developed a Windows service to process various recurring tasks</li>
			<li>Built to stringent security requirements made by the train company, passing a series of penetration tests</li>
		</ul>
		<p>DSDX – Desktop application to print ticket and to top up contactless cards</p>
		<ul>
			<li>Lead the reverse engineering of an existing legacy application and the development to completely new application</li>
			<li>Built using WinForms, C# 4.0, Entity Framework, SQL CE</li>
			<li>TDD (xUnit)</li>
			<li>Integrated with legacy web service to update ticket tariffs</li>
		</ul>
    </article>
    <article>
        <header>
            <h1>Junior Developer</h1>
            <span><address>IWH S.r.l., Amelia, Italy</address><time>June 2010 to May 2012</time></span>
        </header>
		</br>
        <p> MyCompany – Web application for utilities asset and cost management </p>
		<ul>
			<li>Built using ASP.NET 4.0, C#, SQL Server 2008, JQuery</li>
		 	<li>Front-end (HTML, CSS, Javascript) and back-end development</li>
			<li>Integration with legacy SAP</li>
			<li>Training and customer support</li>
			<li>Analysis and development of customizations on the product, so as to meet the specific needs of the client</li>
		</ul>
		<p>	SmartFinance – Desktop solution to management of bank accounts for companies </p>
		<ul>
			<li>Built using WPF, C# 3.5, Firebird, Visifire</il>
			<li>Front-end development</li>
		<ul>
    </article>
</section>
