<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>.NET</h1>
        </header>
		<ul>
			<li>C#, .NET Framework (3.5, 4, 4.5, 4.6), .NET Core</li>
			<li>WinForms, WPF</li>
			<li>ASP.NET MVC, WebForms, WCF</li>
			<li>MSMQ, RabbitMQ, NServiceBus</li>
			<li>IIS, Microsoft SQL Server</li>
			<li>NUnit, XUnit, SpecFlow</li>
		</ul>
    </article>
    <article>
        <header>
            <h1>Ruby</h1>
        </header>
		<ul>
			<li>Ruby on Rails, Sinatra</li>
			<li>Rake, Rubygems</li>
			<li>MiniTest, RSpec, Cucumber</li>
		</ul>
    </article>
    <article>
        <header>
            <h1>Nodejs</h1>
        </header>
		<ul>
			<li>Hapi.js, Express</li>
			<li>Mocha, WebDriverIO</li>
		</ul>
    </article>
    <article>
        <header>
            <h1>Front end</h1>
        </header>
		<ul>
			<li>HTML, CSS, JavaScript</li>
			<li>JQuery, EmberJS, ReactJS</li>
			<li>Coffescript</li>
			<li>QUnit, Jasmine</li>
		</ul>
    </article>
    <article>
        <header>
            <h1>Databases</h1>
        </header>
		<ul>
			<li>SQL: Oracle, MS SQL Server, PostgreSQL, MySQL</li>
			<li>NoSQL: MongoDb, Neo4j, Redis</li>
			<li>Embedded: SQLite, Firebird, SQL CE</li>
		</ul>
    </article>
    <article>
        <header>
            <h1>DevOps</h1>
        </header>
		<ul>
			<li>Bash, Powershell</li>
			<li>Vagrant, Chef, Docker</li>
			<li>ELK, NewRelic, SCOM</li>
			<li>TravisCI, Go Server, TeamCity</li>
			<li>Heroku, AWS</li>
		</ul>
    </article>
    <article>
        <header>
            <h1>Architecture & Design</h1>
        </header>
		<ul>
			<li>Service-Oriented Architecture</li>
			<li>Microservices</li>
			<li>SOAP and Rest Services</li>
			<li>Continuous Integration, Continuous Delivery</li>
			<li>RDBMS Database Design and Development</li>
			<li>Software Design Patterns</li>
			<li>Application Security</li>
		</ul>
    </article>
    <article>
        <header>
            <h1>Other</h1>
        </header>
		<ul>
			<li>TDD, BDD</li>
			<li>Agile and Lean software development, SCRUM</li>
			<li>Reflection, Generics, Linq</li>
			<li>Java, Spring Framework</li>
			<li>RDBMS Database Design and Development</li>
			<li>GIT, SVN</li>
		</ul>
    </article>
</section>