<section class="thirteen columns">
    <h1>Training & Certification</h1>
    <article>
        <header>
            <h1>Advanced Distributed Systems Design Course by Udi Dahan</h1>
            <span><address>Skills Matter, London, UK</address><time>2014</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Microservices Workshop by Russ Miles</h1>
            <span><address>Skills Matter, London, UK</address><time>2015</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>CEH: Certified Ethical Hacker</h1>
            <span><address>EC-Council, London, UK</address><time>2015</time></span>
        </header>
    </article>
</section>